.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex: 1;
}

aside {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin: 1rem 0;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

aside ul li a.active-link {
  font-weight: bold;
}

main {
  flex: 1;
  padding: 2rem;
  background-color: #fff;
}

.apexcharts-legend {
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Ensure the height is auto to fit content */
  padding-bottom: 20px; /* Additional padding to ensure space for the legend */
  overflow: hidden; /* Prevent overflow issues */
}
:root {
  --highlight-color: #e64980; /* Default magenta for light mode */
}

.dark {
  --highlight-color: #faa2c1; /* Darker magenta for dark mode */
}

/* override toggle density from mantine react table */
.mantine-l1yogr>tbody>tr>td,
.mantine-augnbd>tbody>tr>td,
.mantine-l1yogr>tfoot>tr>th, 
.mantine-augnbd>tfoot>tr>th,
.mantine-l1yogr>thead>tr>th, 
.mantine-augnbd>thead>tr>th {
    padding: 0.625rem 0.625rem !important;
}

.mantine-1tue5jz, .mantine-6bbrnk  {
    padding: 10px !important;
}

.mantine-ugfcki {
    background-color: #e6e6e6 !important;
    box-shadow: none !important;
}

/* override width for the pivot table */
.pvtUi td.pvtOutput {
    width: 100% !important;
}

table.pvtTable {
    width: 100% !important;
}


